<html>
<head>

    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mainPage.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/boxPage.css">

</head>
<body>

<div class="header">

    <div id="logo">
        <a href="/"><img src="/images/logo.png" class="img-responsive" alt="Linkbox"/>Linkbox</a>
    </div>

    <div id="profile">
        <img src="/images/profile.jpg"  alt="profile" class="img-circle" />
        <!--Need to change by button-->
    </div>

    <div id="button">
        <button type="button" class="btn btn-primary btn-lg">
						<span class="glyphicon glyphicon-search" aria-hidden="true">
						</span>
        </button>

        <button type="button" class="btn btn-primary btn-lg">
						<span class="glyphicon glyphicon-bell" aria-hidden="true">
						</span>
        </button>
    </div>
    <hr>
    <br>
</div><!--header-->

<div class="nav">
    <div class="row">
        <ul class="col-md-12">
            <li><a href="/mainPage">홈</a></li><br>
            <li>내 박스
                <div class="panel panel-default">
                    <div class="panel-heading">즐겨찾는 박스</div>
                    <ul class="list-group">
                        <% for(var i in boxListData){ %>
                        <li class="list-group-item"><a href="/boxPage/<%= boxListData[i].boxKey%>"><%= boxListData[i].boxName %></a></li>
                        <% } %>
                    </ul>
                </div>
            </li>
            <li>설정</li>
        </ul>
    </div><!--row-->
</div>


<div class="mainContent">


    <div class="row">
        <div class="col-md-8">
            <div class="list-content">

                 <ul class="list-group">
                     <% for(var i in urlBoxListURLData){ %>
                     <li href="#" class="list-group-item text-left">
                         <img class="img-thumbnail" src="<%= urlBoxListURLData[i].urlThumbnail%>">
                         <label class="name">
                             <%= urlBoxListURLData[i].urlTitle%>
                             <p>
                                 <a href="<%= urlBoxListURLData[i].url%>" target="_blank"><%= urlBoxListURLData[i].url%></a>
                             </p>
                             <br>
                         </label>
                         <label class="pull-right">
                             <a  class="btn btn-success btn-xs glyphicon glyphicon-thumbs-up" href="#" title="View"></a>
                             <a  class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="#" title="Send message"></a>
                         </label>
                         <div class="break"></div>
                     </li>
                     <% } %>
                     <li href="#" class="list-group-item text-left">
                         <a class="btn btn-block btn-primary">
                             <i class="glyphicon glyphicon-refresh"></i>
                             Load more...
                         </a>
                     </li>
                </ul>
            </div>
        </div>
    </div>



</div><!--mainContent-->






<div class="footer">

    <h1><a href="#"><img src="/images/nameLogo.png" alt="Linkbox"></a></h1>
    <div class="copy">
        <span>Seoul (관악구 866-3)</span> <span>TEL 010) 222-9999</span> <span>FAX 033)256-9786 </span> <span>Email <a href="mailto:fullstackfactory@gmail.com">fullstackfactory@gmail.com</a></span> <br>
        <span>Copyright@2015 FullstackFactory All Rights Reserved.</span>
    </div>
    <div class="link">
        <a href="#">Contact Us</a>
        <span></span>
        <a href="#">Sitemap</a>
    </div>

</div><!-- //footer -->





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
